<h2>Where have you been in the world??</h2>

  <ul>
    <%  %>
      <li></li>
    <% end %>
  </ul>

<!-- Our Form -->
  <form action="/results" method="post">

    <div class="form-group">
      <label for="our_place">Task Description</label>
      <input id="our_place" name="our_place" class="form-control" type="text">
    </div>

    <button type="submit" class="btn btn-success">Go baby!</button>
  </form>
