
<!DOCTYPE html>
<html>
<head>
  <title>Places We've been, and stuff</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <%= yield %>
    </div>
  </div>
</body>
</html>
